.Admin-Login-container {
    border: 1px solid black;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
}

.Admin-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    font-size: large;
}

.Admin-input-container {
    height: 30px;
    border-radius: 4px;
}

.Button-container {
    display: flex;
    justify-content: center;
    height: 30px;
}

.Login-button {
    width: 80px;
    font-size: large;
    border-radius: 4px;
    background-color: blue;
    color: white;
}